body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}
header {
    background-color: #bacfba; 
    color: rgb(255, 255, 255);            
    text-align: left;    
    padding: 10px;          
}
/* Style pour le menu de navigation */
header nav ul {
    list-style: none;        /* Supprime les puces */
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;           /* Affiche les liens en ligne */
   
}
header nav ul li {
    margin: 0 15px;          /* Espacement entre les liens */
}
header nav ul li a {
    color: rgb(53, 10, 163);            /* Couleur des liens */
    text-decoration: none;   /* Supprime le soulignement */
    font-weight: bold;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #0f33c4;
    color: white;
}
td {
    border: 1px solid #ddd;
}
input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #2709cc;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}